{% extends 'baseStore.html.twig' %}

{% block body %}
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body" style="text-align: center">
                <h1 style="color: white">Attendance</h1>
            </div>
        </div>
    </div>


    <div class="container mt--8 pb-5">
        <!-- Table -->
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="card bg-secondary border-0">

                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted mb-4">
                        </div>
                        <form action="{{ path('add_store_attendance') }}" method="post">
                        <div class="form-group">
                            <div class="input-group input-group-merge input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                </div>
                                <select name="employee" id="employee" class="form-control" onchange="checkValidity()">
                                {% for employee in employees %}
                                    <option value="{{ employee.id }}">{{ employee.fullName }}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                            <label for="check">Select event:</label>
                        <div class="form-group">
                            <label for="checkin" class="form-control">Check In</label><br>
                                <input class="form-control" placeholder="checkin" type="radio" name="check" value="checkin" id="checkin" style="margin: 0"/>
                        </div>
                            <div class="form-group">
                                <label for="checkin" class="form-control">Check Out</label><br>
                                <input class="form-control" placeholder="checkout" type="radio" name="check" value="checkout" id="checkout" style="margin: 0"/>
                            </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary mt-4">Confirm</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

