{% extends 'baseStore.html.twig' %}


{% block body %}
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body" style="text-align: center">
                <h1 style="color: white">Make an order</h1>
            </div>
        </div>
    </div>

    <div class="container-fluid mt--7">
        <!-- Table -->
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row">
                            <div class="col-md-9">
                                <select class="form-control " placeholder="Category" style="width: 250px" id="category" onchange="fetchProducts()">
                                    {% for catManager in catsManager %}
                                    <option value="{{ catManager.id }}">{{ catManager.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control " placeholder="Search Table" id="contact-filter">
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive" id="categoriesTable">
                        <table class="table align-items-center table-flush tablesorter tablepager">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">name</th>
                                <th scope="col">price</th>
                                <th scope="col" >Update</th>
                                <th scope="col" >Delete</th>
                            </tr>
                            </thead>
                            <tbody id="categoriesBody">
                            <!-- Loop -->

                            <!-- End Loop -->
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer py-4">
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-icon btn-3 btn-primary" type="button" style="margin-top: 2em">
            <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
            <span class="btn-inner--text">Add a new order</span>
        </button>
    </div>


{% endblock %}
{% block internalJs %}

    <script>
    function fetchProducts() {
       let selectedCat = $('#category');
       console.log(selectedCat.val());
        $.ajax({
            url:"{{ path('fetch_products') }}",
            method: "GET",
            dataType: 'json',
            data : {id:selectedCat.val()},
            success: (e) => {
                let table = $('#categoriesBody');
                table.empty();
                e.forEach(payload => {
                    table.append(" <tr>\n" +
                        "                                <td>"+ payload.id +"</td>\n" +
                        "                                <td>"+ payload.name +"</td>\n" +
                        "                                <td>"+ payload.price +"</td>\n" +
                        "                                <td >\n" +
                        "                                    <a href=\"\"  class=\"badge badge-info\" >Update</a>\n" +
                        "                                </td>\n" +
                        "                                <td >\n" +
                        "                                    <a href=\"\" class=\"badge badge-danger\">Delete</a>\n" +
                        "                                </td>\n" +
                        "                            </tr>")
                })
            },
            error : (f) => {
                console.log(f);
            }
        })
    }

    </script>


{% endblock %}