{% extends 'baseAdmin.html.twig' %}


{% block body %}
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body" style="text-align: center">
                <h1 style="color: white">Attendances</h1>
            </div>
        </div>
    </div>

    <div class="container-fluid mt--7">
        <!-- Table -->
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row">
                            <div class="col-md-9">
                                <h3 class="mb-0">Attendances</h3>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control " placeholder="Search Table" id="contact-filter">
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive" id="categoriesTable">
                        <table class="table align-items-center table-flush tablesorter tablepager">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Employee</th>
                                <th scope="col">Check In</th>
                                <th scope="col" >Check Out</th>
                            </tr>
                            </thead>
                            <tbody id="categoriesBody">
                            <!-- Loop -->
                            {% for attendance in attendances %}
                                <tr>
                                    <td>{{ attendance.employee }}</td>
                                    <td>{{ attendance.checkIn | date }}</td>
                                    <td>{{ attendance.checkOut | date }}</td>
                                </tr>
                            {% endfor %}
                            <!-- End Loop -->
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer py-4">
                    </div>
                </div>
            </div>
        </div>

    </div>




{% endblock %}
